<% @page_title ||= "#{@user.loginname}さんのプロフィール" -%>
<% @topic_path_last ||= @page_title %>

<h2><%= @page_title %></h2>

<h3>今までに投稿したメモ一覧</h3>

<div class="bbsText">
<ul>
 <%= render :partial => "articles/article_header", :collection => @articles %>
</ul>
</div>
