tidy-mark: no

wrap: 256
char-encoding: raw
# input-encoding: raw
# output-encoding: raw
# newline: LF
wrap-attributes: no
wrap-sections: no
indent: auto
tab-size: 2
indent-spaces: 2
# hide-endtags: yes
doctype: auto
output-xhtml: yes
# drop-proprietary-attribute: yes
break-before-br: yes
# wrap-php: yes
language: ja
# fix-uri: yes
