body {
  background: rgb(140,201,224) url(/images/body_background.png) repeat-x top left;
}
a:link, a:visited, a:hover, a:active {
  color: rgb(102, 188, 216);
  text-decoration: none;
}

#wrapper {
  font-size: 90%;
  margin-left: 7%;
  margin-right: 7%;
  background: #FFF;
  width: 86%;
}

ul.inline {
  list-style: none;
}
ul.inline li {
  display: inline-block;
  margin-right: 10px;
}
ul.inline img {
  vertical-align: top;
  margin-right: 3px;
  border: none;
}
.inline a {
  border: none;
}
.inline a:link, .inline a:visited, .inline a:hover, .inline a:active {
  text-decoration: none;
}


/**
 *   header
 */

#header {
  height: 58px;
  border-top:    3px solid rgb(9,63,127);
  border-bottom: 3px solid rgb(140,201,224);
  background-color: rgb(102,188,216);
  padding: 0px 16px 0px 0px;
}
#header-top {
/*  height: 80px;*/
}
#header-menu {
  text-align: right;
}
#header a:link, #header a:visited, #header a:hover, #header a:active {
  color: #FFF;
  text-decoration: none;
}
#header h1 {
  float: left;
  padding: 12px 0px 0px 22px;
  font-weight: bold;
  font-size: 32px;
}
#usernavi {
  text-align: right;
  font-size: 90%;
  font-weight: bold;
}


/**
 *   content
 */
#content-menu {
  border-bottom: dotted 1px rgb(102, 188, 216);
}
#content-menu li {
  margin-right: 28px;
}
#content-menu a:link, #content-menu a:visited, #content-menu a:hover, #content-menu a:active {
  color: rgb(102, 188, 216);
}


/**
 *   sidebar
 */
#left {
  max-width: 220px;
}
#left #userwindow dt {
  font-size: x-small;
}
#right {
}

.sidebar {
  margin-top: 20px;
  border: solid 1px rgb(140,201,224);
}
.sidebar a:link, .sidebar a:visited, .sidebar a:hover, .sidebar a:active {
  color: rgb(102, 188, 216);
  text-decoration: none;
}
.sidebar dt {
  color: #FFF;
  background: rgb(140,201,224);
  font-weight: bold;
  padding: 2px;
}
.sidebar dd {
  padding: 6px;
}

.pagination {
  width: 100%;
  text-align: center;
}
.pagination span, .pagination a {
  display: inline-block;
  margin-right: 20px;
}

/**
 *   article
 */
#page {
  padding: 20px 10px 10px 10px;
}
#page h2 {
  color: rgb(102, 188, 216);
  font-size: x-large;
  border-bottom: solid 1px rgb(102, 188, 216);
}
#page h3 {
  margin: 15px 0px 10px 0px;
  text-indent: 24px;
  font-size: large;
  color: rgb(9,63,127);
  font-weight: bold;
  border-bottom: 1px dotted rgb(102,188,216);
  background: url(/images/b7.gif) no-repeat top left;
}
#page-content {
  margin-top: 15px;
  padding: 0px 20px;
}
#page .submenu {
  text-align: right;
  color: #505050;
}
#page-footer {
  text-align: right;
  color: #505050;
}
ul.tagging-list li {
  margin-right: 4px;
}
.list-subject a:link, .list-subject a:visited, .list-subject a:hover, .list-subject a:active {
  color: rgb(13, 56, 150);
  font-weight: bold;
  font-size: large;
}
ul#list {
  list-style: none;
}


.new1, .new2 {
  font-size: 9px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-weight: normal;
}
.new1 {
  color: #ff6666; /* bright red 0度 */
}
.new2 {
  color: #f0dcdc; /* pale red 0度 */
}
