<div class="syndicate">

<%#= link_image_to("firefox_80x15", "http://getfirefox.jp/", {:alt => "Get Firefox", :title => "Get Firefox - ブラウザ、今ふたたび"})  %>
<%#= link_image_to("http://www.bloglines.com/images/sub_modern8.gif", "http://www.bloglines.com/sub/#{request.protocol}#{request.host_with_port}#{request.path}", {:alt => "Bloglinesで閲読登録", :title => "Bloglinesで閲読登録"}) %>

<%#= link_image_to "rss_douzo.gif", :controller => "articles", :action => "rss" %>
<%= link_image_to "bad-knowhow", "http://0xcc.net/misc/bad-knowhow.html" %>
<%= link_image_to "/silk_icons/rss", :controller => "articles", :action => "rss" %>
<%#= link_to icon_tag("rss"), :controller => "articles", :action => "rss" %>

</div>
