<%= simple_format("
ログインに失敗しました。

2006/08/04以前に登録された方は、パスワードにログイン名を入力してみてください。

というのも、ハッシュ化してあるパスワードを再びハッシュ化、つまり二重にハッシュ化してDBを更新するというどうしょうもないミスをやらかしてしまい、パスワードが絶対に一致しなくなってしまいました。

なので、パスワードには仮復旧したログイン名を入力してください。

お手数おかけしてます。&nbsp;m(&nbsp;_&nbsp;_&nbsp;)m
") %>
