<% @page_title ||= "検索プラグイン" %>
<% @topic_path_last ||= @page_title %>

<h2><%= @page_title %></h2>

<p>Firefoxの検索バーに追加しますか？</p>

<div class="submit">
<%= button_to_function("はい", search_plugin_add) %>
</div>

<% if development? -%>
<%= image_tag(search_plugin_path("png")) %>
<%= link_to("#{SEARCH_PLUGIN_NAME}.src", search_plugin_path("src")) %>
<% end -%>
