%dl.sidebar
  %dt よく読まれているメモ
  %dd
    %ul
      - ArticleViewLog.most_viewed_within(period, limit).collect{|log| log.article}.each do |a|
        %li= link_to h(truncate(a.subject, :length => 21)), article_path(a)
