<div class="sidebar_latest_articles">
<div class="roundedTitle"><span>よく読まれているメモ</span></div>
<div class="roundedContent">
<ul>
 <% Article.most_viewed.each do |article| -%>
 <li><%= link_to h(truncate(article.subject, 21)), :controller => "articles", :action => "show", :id => article %></li>
 <% end -%>
</ul>
</div>
</div>
