%dl.sidebar
  %dt 人気タグ
  %dd
    .tag_cloud.clearfix
      - tag_cloud(Article.tag_counts, (8..36).to_a) do |tag, cloud_size|
        = link_to h(tag.name), tag_item_url(:tag => tag.name), {:style => "font-size: #{cloud_size}px;", :class => "popular_tag"}
