<div class="syndicate">
<%= link_to image_path("bad-knowhow"), "http://0xcc.net/misc/bad-knowhow.html" %>
<%= link_to image_path("/silk_icons/rss"), :controller => "articles", :action => "rss" %>
</div>
