<%#= debug session[:user] %>

<% @page_title ||= nil -%>
<% @topic_path_last ||= nil %>

<h2>マイページ</h2>

<h3><%=h "#{session[:user].loginname}さんへのお知らせ" %></h3>
<p>
とくにありません。
</p>

<h3>今までに投稿したメモ一覧</h3>

<div class="article_list">
<ul>
 <%= render :partial => "articles/article_header", :collection => session[:user].articles %>
</ul>
</div>
