#footer
  %ul#footerNavi
    %li= link_to_with_icon "plugin_add", "ブックマークレット", :controller => "articles", :action => "bookmarklet"
    %li= link_to_with_icon "zoom_in", "検索プラグイン", :controller => "articles", :action => "search_plugin"
    %li= link_to_with_icon "page_white_go", "エクスポート", :controller => "articles", :action => "export"
    %li= link_to_with_icon "chart_line", "レポート", :controller => "articles", :action => "report"
  #copyright
    Copyright &copy; 2006 
    All rights reserved.
  #powered
    Powered by 
    and
